body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}

.heading {
  font-size: 1.5rem;
  color: bisque;
}

.heading-withlowbalance {
  font-size: 1.5rem;
  color: red;
}

.heading {
  text-align: left;
  text-indent: 2rem;
}

.movie-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card{
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
  padding: 1rem;
  color: #000;
  border-radius: 6px;
}

.card:hover{
  background-color: #ddd;
  box-shadow: 0 0 5px #fff;
  padding: 1rem;
  color: #fff;
  border-radius: 6px;
}

.card .heading{
  color: #000;
  text-indent: 0;
}

.header{
  background-color: #222;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}